/*
    Document   : css/stylesheet.css
    Created on : 2015-05-11 11:08 AM
    Author     : vesavvo
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin-left: 5em;
}

#result {
    width: 2em;
}
